.contact-filter {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  margin: 0 10px;
  padding: 10px;
  border-bottom: 1px solid rgb(236, 236, 236);
  @include for-mobile-layout {
    gap: 10px;
  }
  h2 {
    min-width: 320px;
    @include for-mobile-layout {
      font-size: 24px;
      display: none;
    }
  }
  input {
    margin: 10px;
    height: 30px;
    width: 200px;
    border-radius: 5px;
    border: 1px solid rgb(218, 218, 218);
    &:focus {
      outline: 2px solid gray;
      border: none;
    }
    @include for-mobile-layout {
      width: 100px;
    }
  }
svg {
  margin: 15px;
  margin-top: 25px;
}
}
