.move-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: rgb(247, 246, 246);
  border-radius: 5px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  margin: 70px;
  @include for-mobile-layout {
    margin: 10px;
    text-align: center;
  }
  div {
    display: flex;
    padding: 15px;
    font-size: 16px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    justify-content: space-between;
    background-color: white;
    p {
      @include for-mobile-layout {
        display: flex;
        flex-direction: column;
      }
    }
    span {
      font-family: PoppinsMedium;
      font-size: 18px;
      @include for-mobile-layout {
        font-size: 15px;
      }
    }
    @include for-mobile-layout {
      font-size: 12px;
    }
  }
}

h2 {
  text-align: center;
  font-size: 40px;
  @include for-mobile-layout {
    font-size: 24px;
  }
}
