.contact-details {
  text-align: center;
  background-color: rgb(242, 231, 189);
  justify-content: space-around;
//   margin-top: 10%;
  padding: 50px;
  .details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    button {
    width: 50px;
      background-color: rgb(252, 213, 53);
      border-radius: 5px;
      font-size: 15px;
      text-decoration: none;
      font-family: PoppinsMedium;
      border: none;
      cursor: pointer;
    }
    .contact-name {
      font-size: 25px;
      font-family: PoppinsMedium;
    }
  }
}

.details-title {
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 40px;
    margin: 40px;
}